@page "/counter"

<PageTitle>Counter</PageTitle>

<div>
    <h2 class="Lexend-400">Generate new order</h2>
</div>
<hr />



<div class="row justify-content-between mx-0 mb-5">
    <div class="col-sm-12 col-md-12 col-lg-4 mb-4 mt-4 px-3 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" class="p-1" style="border:solid; border-radius:25px; border-color:#002FBA" viewBox="0 0 48 48"><path fill="#002FBA" fill-rule="evenodd" d="M39 13a3 3 0 0 0-3 3v2h6v-2a3 3 0 0 0-3-3Zm3 7h-6v16.5l3 4.5l3-4.5V20ZM6 9v30a3 3 0 0 0 3 3h22a3 3 0 0 0 3-3V9a3 3 0 0 0-3-3H9a3 3 0 0 0-3 3Zm14 6a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2h-8a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2h-8Zm-1 10a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2h-8a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2h-8Zm-9-3v3h3v-3h-3Zm-1-2h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-5a1 1 0 0 1 1-1Zm6.707-10.293a1 1 0 0 0-1.414-1.414L13 17.586l-1.293-1.293a1 1 0 0 0-1.414 1.414L13 20.414l4.707-4.707Z" clip-rule="evenodd" /></svg>
        <h4 class="Lexend-400" style="color:#002FBA">Select Category</h4>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 mb-4 mt-4 px-3 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" class="p-1" style="border:solid; border-radius:25px; border-color:#2E00BA" viewBox="-2.5 -2.5 24 24"><path fill="#2E00BA" d="m16.318 6.11l-3.536-3.535l1.415-1.414c.63-.63 2.073-.755 2.828 0l.707.707c.755.755.631 2.198 0 2.829L16.318 6.11zm-1.414 1.415l-9.9 9.9l-4.596 1.06l1.06-4.596l9.9-9.9l3.536 3.536z" /></svg>
        <h4 class="Lexend-400" style="color:#2E00BA">Type requested Amount</h4>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 mb-4 mt-4 px-3 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" class="p-1" style="border:solid; border-radius:25px; border-color:#008CBA" viewBox="0 0 24 24"><path fill="#008CBA" d="M9.21 11H11v2c0 .55.45 1 1 1s1-.45 1-1v-2h1.79c.45 0 .67-.54.35-.85l-2.79-2.79c-.2-.2-.51-.2-.71 0l-2.79 2.79a.5.5 0 0 0 .36.85z" /><path fill="#008CBA" d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 11h-3.02c-.63 0-1.22.3-1.6.8c-.54.73-1.4 1.2-2.38 1.2s-1.84-.47-2.38-1.2c-.38-.5-.97-.8-1.6-.8H5V5h14v9z" /></svg>
        <h4 class="Lexend-400" style="color:#008CBA">Create Order</h4>
    </div>

</div>

<div class="mx-auto mt-5" style="width:35%" >

    <label for="selector" class="pb-2 mx-auto Lexend-400">Please select the category you wish</label>

    <select class="form-select mb-3 Lexend-400" style="border:solid; border-color:#001C30;" @onchange="OnSelectionChange" name="selector" aria-label=".form-select-lg example">
        <option value="0" selected>Kadın Pantolon</option>
        <option value="1">Erkek Pantolon</option>
        <option value="2">Kadın Gömlek</option>
        <option value="3">Erkek Gömlek</option>
        <option value="4">Kadın Şort</option>
        <option value="5">Erkek Şort</option>
        <option value="6">Kadın Etek</option>
        <option value="7">Erkek Kravat</option>
        <option value="8">Kadın Ceket</option>
        <option value="9">Erkek Ceket</option>
        <option value="10">Kadın Pijama</option>
        <option value="11">Erkek Pijama</option>
        <option value="12">Kadın Ayakkabı</option>
        <option value="13">Erkek Ayakkabı</option>
        <option value="14">Kadın Çanta</option>
        <option value="15">Erkek Çanta</option>
        <option value="16">Bilgisayar</option>
        <option value="17">Telefon</option>
        <option value="18">Televizyon</option>
        <option value="19">Ağız Bakımı</option>
        <option value="20">Vücut Bakımı</option>
    </select>


    <div class="pb-3 mx-auto text-start">
        <label for="requestedNumber" class="pb-2 mx-auto Lexend-400">Please type requested number</label>
        <input type="number" min=0 @bind="requestedAmount" @oninput="HandleRequestedAmount" name="requestedNumber" class="form-control Lexend-400" id="requestedNumber" style="border:solid; border-color:#001C30;">
    </div>

    <div class="d-grid gap-2 mx-auto mb-5">
        <button class="btn Lexend-400" style="background-color:#001C30; color:#f9fafb">Create Order</button>
    </div>
    
</div>

@code {
    public string selectedOption = "0";
    public string requestedAmount = "0";


    private void HandleRequestedAmount(ChangeEventArgs e)
    {
        requestedAmount = e.Value.ToString();
        Console.WriteLine(requestedAmount);


    }

    private void OnSelectionChange(ChangeEventArgs e)
    {
        selectedOption = e.Value.ToString();
        Console.WriteLine(selectedOption);
    }
}
<style>
    .Lexend-400 {
        font-family: 'Lexend', sans-serif;
        font-weight: 400;
    }

</style>