@page "/"
@inject NavigationManager NavigationManager


<PageTitle>Index</PageTitle>

<p>Hello, world!</p>


@code {
    // protected override void OnInitialized() => NavigationManager.NavigateTo("/CrawlerInterface");
}

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
